@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a,
  a:active,
  a:hover,
  a:visited {
    color: inherit;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit; }

input, select {
  vertical-align: middle; }

input, button, textarea, select {
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  resize: none; }

input, button, textarea {
  background-color: transparent; }

ol, ul {
  list-style: none; }

table {
  border-spacing: 0;
  border-collapse: separate; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

@keyframes highlightNewEvent {
  0% {
    background-color: #ff0055;
    color: white; }
  30% {
    background-color: #ff0055;
    color: white; }
  100% {
    background-color: white;
    color: black; } }

html {
  background-image: url("/geometry2.png");
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center; }

body > div {
  padding: 30px 0 90px; }

.title {
  color: #ff0055;
  font-size: 40px;
  font-weight: bold; }

.description {
  margin-top: 30px; }

.description,
footer {
  line-height: 1.5em; }
  .description a,
  .description a:active,
  .description a:visited,
  footer a,
  footer a:active,
  footer a:visited {
    color: #ff0055;
    font-weight: bold; }
  .description a:hover,
  footer a:hover {
    color: #00aaff; }

.install-instructions {
  background-color: #4d4d4d;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-family: Inconsolata, sans-serif;
  font-weight: bold;
  margin-top: 30px;
  padding: 12px 20px; }
  .install-instructions span {
    color: #ff0055; }

.demo-content {
  display: flex;
  justify-content: center;
  margin: 50px auto 0; }

.trix-editor-wrapper {
  margin-right: 12px;
  text-align: left;
  width: 520px; }

trix-toolbar .button_group button.active,
trix-toolbar .button_group input[type=button].active {
  background-color: #ff0055;
  color: white; }

.trix-editor {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  min-height: 350px; }

.events {
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  font-size: 13px;
  max-height: 387px;
  overflow: auto;
  padding: 6px;
  text-align: left;
  width: 200px; }

.event {
  animation: highlightNewEvent 750ms forwards;
  background-color: white;
  border-radius: 3px;
  padding: 6px 12px; }
  .event:not(:last-child) {
    margin-bottom: 3px; }

.demo-code {
  margin: 40px auto 0;
  text-align: left;
  width: 730px; }
  .demo-code .gist .pl-v {
    color: #ff0055; }
  .demo-code .gist .pl-s {
    color: #00aaff; }

.demo-code__label {
  background-color: white;
  border-color: #dbdbdb;
  border-style: solid;
  border-width: 1px 1px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;
  padding: 6px 10px; }

footer {
  margin-top: 60px; }
